{% extends 'base.html' %}

{% block title %}Quiénes Somos - Taller Mecánico{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Quiénes Somos</h2>
    <div class="row mt-4">
        <div class="col-md-8">
            <p>Somos un taller mecánico con más de 20 años de experiencia...</p>
            <p>Nuestro equipo está formado por profesionales altamente capacitados...</p>
        </div>
        <div class="col-md-4">
            <h4>Valores</h4>
            <ul>
                <li>Profesionalismo</li>
                <li>Honestidad</li>
                <li>Calidad</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
